footer p{
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font:var(--paragraph);
  margin-bottom: 64px;
}
footer h4{
  display: flex;
  align-items: center;
  justify-content: center;
font: var(--headline);
color: var(--text-secondary);
}
h4 img{
  margin: 4px;
}